{{ with .Get "link" }}<a style="display:block;" href="{{.}}">{{ end }}
{{ with .Get "caption" }}<figure>{{ end }}
<picture>
    {{ with .Get "webp" }}<source srcset="{{.}}" type="image/webp">{{ end }}
    <img {{ with .Get "width" }} width="{{ . }}" {{ end }} {{ with .Get "height" }} height="{{ . }}" {{ end }} src="{{ .Get "src" }}" alt="{{ .Get "alt" }}">
</picture>
{{ with .Get "caption" }}<figcaption>{{.}}</figcaption>{{ end }}
{{ with .Get "caption" }}</figure>{{ end }}
{{ with .Get "link" }}</a>{{ end }}
